<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.460489136206-n5uuc6h2vbj2l4e2r6hidqm80jb327dq</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>460489136206-n5uuc6h2vbj2l4e2r6hidqm80jb327dq.apps.googleusercontent.com</string>
</dict>
</plist>
